.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.commentBox {
  flex: 1;
}

.commentContent {
  background: var(--gray-700);
  border-radius: 9px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime {
  display: flex;
  flex-direction: column;
}

.authorAndTime strong {
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 4px;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
  font-size: 0.875rem;
}

.commentContent p a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
  transition: color .2s;
}

.commentContent p a:hover {
  color: var(--green-300);
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button svg {
  margin-right: 0.5rem;
}

.commentBox footer button span::before {
  padding: 0 0.25rem;
  content: "\2022";
}

.likeButton {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color .1s;
  border-radius: 2px;
}

.likeButton:hover {
  color: var(--gray-300);
}

.likeButtonPressed {
  color: var(--green-500);
}

.likeButtonPressed:hover {
  color: var(--green-300);
}
